/* external css: flickity.css */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.sf-carousel {
  background: #eee;
}

.sf-carousel-cell {
  border-radius: 5px;
  counter-increment: gallery-cell;
  background: #fff !important;
  height: 320px;
  width: 168px;
  margin-right: 0px;
}

/* cell number */
.sf-carousel-cell:before {
   display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
    content: unset;
}

/**/
.sf-carousel-card {
  /*display: inline-grid;*/
  margin: 10px 15px 10px 15px !important;
  padding: 8px 7px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 48%;
}

.sf-carousel-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sf-carousel-container {
  padding: 2px 7px;
  overflow: hidden;
  max-height: 91px;
}

/*counter*/
.sf-carousel-cell:before {
  content: unset;
}

.sf-carousel-cell .sf-carousel-container h4 {
  margin: 0px 0px 0px -5px;
  line-height: 18px;
  min-width: 150px;
}

.sf-carousel-cell .sf-carousel-container h4 b {
  font-size: 0.75em !important;
  line-height: 1.4em !important;
  word-wrap: break-word;
}

.flickity-slider {
  width: 125%;
}

.sf-carousel-cell .sf-carousel-container p {
  margin: 4px 0px 8px -4px;
  font-size: 12px;
  min-width: 99px;
  word-wrap: break-word;
}

.sf-carousel-cell {
  background: #fff !important;
  height: 320px;
  width: 168px;
  margin-right: 0px;
}

.flickity-viewport {
  height: 340px !important;
}

.sf-carousel-cell {
  height: 320px;
  margin-right: 0px;
}
.sf-carousel {
  background: unset;
}

ol.flickity-page-dots {
  display: none;
}

.sf-carousel-button {
  background-color: #000;
  border: none;
  color: white;
  padding: 3px 3px 3px 3px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 4px auto;
  cursor: pointer;
  width: 154px;
  position: fixed;
  bottom: 18px;
}



.sf-carousel-cell img{
  width: 100%; 
  height: 60%; 
  object-fit: cover;
  border-radius: 3px;
}



/****/




.sf-carousel-addTxt{
    position: relative;
    height: 69px;
    max-width: 100%;
    /* max-height: 100%; */
    bottom: 185px;
    overflow: hidden;
    resize: none;
}

.sf-carousel-fomBtn{
    position: relative;
    height: 21px;
    max-width: 85%;
    00%: ;
    /* max-height: 100%; */
    bottom: 181px;
    overflow: hidden;
    resize: none;
}




.sf-carousel-addTitle{
    position: relative;
    bottom: 189px;
    width: 100%;
}


.sf-carousel-card:after {
    content: "Click to add image";
    position: relative;
    z-index: 0;
    font-size: 8px;
    top: -406px;
    left: 0px;
    margin: auto 28%;
}


.sf-carousel-txtColorBtn {
 background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    bottom: -1px;
    position: relative;
    right: -4px;
}


button.sf-carousel-BtnHandle {
  cursor: pointer;
  z-index: 4;
  opacity: 0.5;
  width: 29px;
  top: 10px;
  position: relative;
  left: 1px;
}




.sf-carousel-BtnDelete{
    background-color: transparent;
    border: none;
    color: #585858;
    padding: 0px 3px;
    text-align: center;
    text-decoration: none;
    
    bottom: 198px;
    position: relative;
    right: -135px;
    width: 20px;
    cursor: pointer;
}

.sf-carousel-BtnHandle{
  top: 10px;
    z-index: 1;
    position: relative;
    left: 1px;
}

.sf-carousel-imgUpload {
    top: -10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    z-index: 3;
}

.sf-carousel-imgUpload, .sf-carousel-cardContent {
    width: 100%;
    height: 180px !important;
    position: relative;
}

.sf-carousel-cardContent  {
    top: -193px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  
}